@import url(http://fonts.googleapis.com/css?family=Lato);
 
body{
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    /*background: transparent linear-gradient(90deg, #1BC6DB  10%, #13B5E8  90%) repeat scroll 0% 0%;*/
}

.main{
    background: url("gradient.jpg") no-repeat center center fixed; 
}
 
h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 1.3;
}
 
 
p, label, select, .btn, td {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-size: 17px;
    text-decoration: none;
    font-weight: normal;
    text-shadow: none;
}
 
 
.container {
/*    max-width: 750px;*/
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
 
body label , body h3 {
    color: black;
}
 
.header{
    width: 100%;
    height: 4em;
    background: #fff;
    display: relative;
}

.header img{
    height: 4em;
    width: auto;

}

.introSlide img{
    height: auto;
    width: 100%;
    display: relative;
}

.introSlide h2{
    top: 200px; 
    position: absolute;
    right:25px;
}

.introSlide h1{
    top: 240px; 
    position: absolute;
    right:25px;
}

.introSlide button{
    top: 310px; 
    position: absolute;
    right:25px;
}

.three-column-module {
  width: 100%;
  margin: 2em auto 0 auto;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
   background: #fff;
   text-align: center;
}
.icon-block {
  display: inline-block;
  width: 240px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  vertical-align: top;
}
.headerNav{
    text-align: center;
    vertical-align: middle;
    display: block;
}

.headerNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.headerNav li{
    display: inline-block;
    margin-right: 30px;
    margin-top: 5px;
}
.nav{
     display: inline-block;

}

#block-2 {
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
}

/************  page one ********************/
.pageOne input[type=text] {
    width: auto;
}
.buttonStyle {
    background-image: url();
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    margin: 0 auto;
    display: block;
}

.pageTwo .buttonStyle {
    background-image: url();
    background-color: transparent;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    display: block;
}

.buttonStyle:hover {
    background: url("gradient.jpg");
    color: white;
}
a.aU ,
a.aU:active , 
a.aU:focus ,
a.aU:hover {
    text-decoration: none !important;
    outline: 0 !important;
}
 
 
/***************** page two ***********************/
.buttonStyle2 {
    background-color: orange;
    display: block;
    margin: 100px auto;
    background-image: none;
}
.pageTwo table {
    color: black;
}
 
.comp_report {
    background: #fff;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
}

img{
    width:25%;
    height:auto;
    margin-right: 2em;
    float: left;
}
/***************** page three ***********************/
.pageThree{
    background: url("boston.jpg") no-repeat center center fixed; 
}

.pageThree .container{
    background-color: #fff;
}

/* Table */

    .table-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
    }

    table {
        margin: 0 0 2em 0;
        width: 100%;
    }

        table tbody tr {
            border: solid 1px #e5e5e5;
            border-left: 0;
            border-right: 0;
        }

            table tbody tr:nth-child(2n + 1) {
                background-color: #f8f8f8;
            }

        table td {
            padding: 0.75em 0.75em;
        }

        table th {
            color: #646464;
            font-size: 0.9em;
            font-weight: 300;
            padding: 0 0.75em 0.75em 0.75em;
            text-align: left;
        }

        table thead {
            border-bottom: solid 2px #e5e5e5;
        }

        table tfoot {
            border-top: solid 2px #e5e5e5;
        }

        table.alt {
            border-collapse: separate;
        }

            table.alt tbody tr td {
                border: solid 1px #e5e5e5;
                border-left-width: 0;
                border-top-width: 0;
            }

                table.alt tbody tr td:first-child {
                    border-left-width: 1px;
                }

            table.alt tbody tr:first-child td {
                border-top-width: 1px;
            }

            table.alt thead {
                border-bottom: 0;
            }

            table.alt tfoot {
                border-top: 0;
            }